// for 1980
@media (min-width: 1281px) {
	.mbanner__top {
	    background-position: 0 5%;
    	background-size: 110%;
	}
	.mbanner__bottom-left, .mbanner__bottom-right {background-size: 100%;}
} 

// for 1366
@media (width: 1366px) {

}

// for 1024
@media (max-width: 1279px) {
	.mbanner__left .mbannerItem__info {
		display: none;
	}
	.mbanner {
	    height: 500px;
	    overflow: hidden;
	}
}

// for 768
@media (max-width: 1023px) {
	section+section.content-text {
		padding-bottom: 43px;
	}
	section.content-text {
		padding-bottom: 43px;
	}
	.hamburger {
		margin: 7px 14px;
		&.active {
			margin: -4px 14px;
			width: 26px;
		}
	}
	.video {
		height: 341px;
		&__other {
			display: none;
		}
	}
	.content .col-xs-12 h2:first-child {
		margin-bottom: 39px;
	}
	.content ul li:before {
		width: 4px;
		height: 4px;
		left: 2px;
    	top: 12px;
	}
	.content ol {
		padding-left: 15px;
	}
	.share {
	    margin: 53px 0;
	}
	.content {
		padding: 5px 23px;
		h2 {
		    margin-bottom: 37px;
		    margin-top: 49px;
		}
		img {
		    margin-top: 31px;
   			 margin-bottom: 48px;
		}
		 p, ul li, ol li {
			font-size: 16px;
			line-height: 2.3;
		}
		ul li {margin-bottom: 1px;}
		ul {margin-top: 12px;}
		p {line-height: 1.8;}
		ol li {margin-bottom: 2px;}				
	}
	.subMenu {
		 padding: 44px 0 20px;
		li a {			   
			font-size: 12px;
		}
		li.prev {
			right: -8px;
		}
		li.next {
			left: -8px;
		}
	}
	.header {
		padding: 31px 24px 14px;
		.socialBlock {
			display: none;
		}
		&__logo {
			width: auto;
			a {
				width: 112px;
				text-decoration: none;
				img {
					display: none;
				}
				img[src*="logo-text.svg"] {
					display: block;
					opacity: 1;
				}
			}
		}
		&__search {
			display: none;
		}
		&__menu.mobile li {
			margin: 18px 0;
			a {
				font-size: 24px;
			}
		}
	}
	.mbanner {
		height: auto;
		&__left {
			width: 100%;
			height: 500px;
			position: relative;
			background-image: url(../img/banner1-black.png)!important;
		    background-position: 50% 1%;
    		background-size: 100%;
    		&:hover:before {display: none;}
    		.mbannerItem__info {height: 79%!important;}
			.mbannerItem__date {margin-bottom: 15px;}
		}
		&__right {
			height: 525px;
			width: 100%;
		    margin-top: -7px;
		    &:hover:before {display: none;}
		}
		&__top {
			height: 57%;
			background-position: 8% 16%;
    		background-size: 100%;
    		position: relative;
    		&:hover:before {display: none;}
    		&:after {
    			content: '';
    			position: absolute;
    			top: 0;
    			right: 0;
    			left: 0;
    			bottom: 0;
    			background: #000;
    			opacity: 0.39;
    			mix-blend-mode: multiply;
    		}
		}
		&__bottom {
			height: 43%;
			&-left {
				width: 50%;
				position: relative;
				&:hover:before {display: none;}
				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					bottom: 0;
					background: #572d08;
					opacity: 0.76;
					mix-blend-mode: multiply;
				}
			}
			&-right {
				width: 50%;
				position: relative;
				.mbannerItem__title {font-size: 24px;}
				&:hover:before {display: none;}
				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					bottom: 0;
					background: #130635;
					opacity: 0.74;
					mix-blend-mode: hard-light;
				}
			}
		}		
	}
	.features .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
		bottom: 79px;
	}
	.mbannerItem {
		&__date, &__title {
		    opacity: 1;
		    transform: translateY(0);
		}
		&__info {
			width: 100%!important;
			height: 100%!important;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 100;
		}
	}	
	.h2, h2 {font-size: 25px;}
	.h1, h1 {font-size: 45px;}
	.centerText {
        padding: 40px 0 12px;
        p {font-size: 16px;}
        &__title {
        	margin-bottom: 34px;
        	&.mT80 {margin-top: 47px;}
        }
	}
	.m720 {display: none;}
	.swiperNumber {
		&__info {
		    padding-right: 43px;
	        margin-top: 91px;
		}
		&__title {
			font-size: 20px;
			margin-bottom: 19px;
		}
		&__text {
			line-height: 27px;
			font-size: 16px;
		}
		&__number {
			height: 428px;
			#mask1 path {transform: scale(0.6) translate(14%, 1%);}
			#mask2 path {transform: scale(0.19) translate(23%, 84%);}
			#mask3 path {transform: scale(0.4) translate(-7%, 14%);}
			#mask4 path {transform: scale(0.4) translate(-21%, 11%);}
		}
	}
	.swiper-pagination-bullet {
		width: 5px;
		height: 5px;
	}
	.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
		bottom: 55px;
	}
	.content .doingItem {
		margin-bottom: 19px;
	}
	.content .doing__wrap+h2 {
		margin-top: 20px;
	}
	.logos h2 {
		margin-top: 39px!important;
		margin-bottom: -2px!important;
	}
	.logos img {
		height: 35px;
		margin: 53px 10px 9px!important;
	}
	.checkbox label {
		font-size: 12px;
	}
	.form form .checkbox label:after {
		width: 89%;
	}
	.form {
		padding: 38px 0 55px;
		form {
			max-width: 354px;
		}
		h2 {
			margin-bottom: 38px;
		}
	}
	.form__subtitle {
		margin-bottom: 40px;
	}
	.doingItem {
		margin-bottom: 51px;
		&__title {
			font-size: 16px;
		    margin-bottom: 14px;
		}
		&__text {
			font-size: 14px!important;
		    line-height: 25px!important;
		}
		&__icon {
			max-height: 56px;
		    margin: 0 auto 33px;
		}
	}
	.doing {
	    padding: 12px 0 0;
	    h2 {margin-bottom: 52px;}
	}
	.programs {
		margin-top: -35px;
	    padding-bottom: 53px;
	    h2 {margin-bottom: 40px;}
	    .swiper-pagination {bottom: -20px;}
	}	
	.banner {
        padding: 35px 0 69px;
        background-position: 58% 94%;
    	background-size: 161%;
	    p {
	    	font-size: 16px;
    	    line-height: 28px;
	    }
	    &__title {
	    	margin-bottom: 32px;
    	    line-height: 30px;
	    }
	    .btn {margin-top: 27px;}
	}
	.btn-big {
	    padding: 8px 32px;
	    font-size: 15px;
	}
	.reviews {
        padding: 56px 0 18px;
	}
	.swiperReviews {
		.swiper-slide {
			padding-top: 36px;
			&:before {
			    width: 27px;
		    	height: 22px;
			}
		}
		&__text {
			font-size: 16px;
		    line-height: 29px;
		}
		&__photo {
			width: 75px;
			height: 75px;
		}
		&__name {font-size: 15px;}
		&__job {font-size: 12px;}
		&__photo {margin: 32px auto 14px;}
		.swiper-pagination {bottom: -18px;}
	}
	.cardsWrap-3 .card {
		margin-bottom: 29px;
	}
	.clients {
	    padding: 40px 0 15px;
	    .col-xs-12 {padding: 0;}
	    h2 {margin-bottom: 26px;}
	}
	.news {
	    padding: 13px 0 50px;
	    .title {margin-bottom: 37px;}
	}
	a.title:after {
	    bottom: 10px;
	    height: 1px;
	}
	.swiperMobile {
		.card-news {
			display: none;
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				display: block;
			}
		}
	}
	.subMenu+.cardsWrap {
	    padding: 25px 20px 31px;
	}
	.subMenu+.cardsWrap-pd {
	    padding: 25px 20px 31px;
	}
	.card-news {
		margin-bottom: 18px!important;
		.card__imgWrap {
		    height: 119px;
		}
		.card__title {
			font-size: 15px;
		    margin-bottom: 12px;
	        line-height: 1.3;
		}
		.card__date {font-size: 9px;}
		.card__info {padding: 18px 10px 14px 10px;}
	}
	.closeForm {
		right: 25px;
		top: -48px;
	}
	.footer {
        padding: 38px 25px 11px;
	    position: relative;
	    &__logoWrap {width: 143px;}
	    .socialBlock {
		    position: absolute;
			right: 18px;
			top: 31px;
		    img {width: 24px;}
		}
		&__links, &__subscribe {display: none;}
		&__addr {
			margin-top: 24px;
		    line-height: 27px;
		    width: 100%;
			a {
				position: relative;
				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					height: 2px;
					width: 100%;
					background: #fff;
				}
			}
			span {
				position: absolute;
				right: 13px;
				bottom: 30px;
				font-size: 10px;
			}
		}
	}
	.heroBanner {
	    height: 500px;
		&__subtitle {
			font-size: 18px;
		    line-height: 1.5;
		}
		h1 {
			margin-bottom: 10px;
		}
		.share {
			display: none;
		}
	}
	.cardsWrap {
		padding: 56px 0 10px;
		&-pd {
			padding: 56px 20px 30px;
		}
	    h2 {
    	    margin-bottom: 46px;
	    }
	}
	.card__imgWrap-photo+.card__info {
		padding: 18px 10px 10px 10px;
		min-height: 112px;
		height: calc(100% - 120px);
	}
	.events .card__info {
		min-height: 144px;
	}
	.card {
		&__name {line-height: 1.1;}
		&__info {
		    min-height: 120px;
		    padding: 17px 10px 0 10px;
		}
		&__imgWrap {height: 120px;}
		&__date {
		    font-size: 13.4px;
	        margin-bottom: 8px;
		}
		&__title {
			font-size: 16.08px;
			span {font-size: 14.74px;}
		}
	}
	.mapWrap .mapInfo {
		left: 40px;
	}
	.content .doingItem img {
		margin-bottom: 32px;
	}
	.logos h2 {
		margin-bottom: 37px!important;
	}
	.logos .swiper-slide {
		text-align: center;
	}
	.logosMobile {
		padding-bottom: 30px;
		.swiper-pagination-logos {
			bottom: -32px!important;
		}
	}
	.logos img {
		margin: 0 !important;
		width: 46%;
		height: initial;
	}
	.logos .swiper-wrapper {
		flex-wrap: nowrap;
	}
}

// for 414
@media (max-width: 767px) {
	.checkbox {
		margin-top: 14px;
		input {
			width: 10px;
			height: 10px;
		}
		label {
			font-size: 11.02px;
		}
	}
	.checkbox label:after {
		bottom: 6px;
		height: 1px;
		width: 92%;
	}
	.subForm form .btn {
		height: 40px;
		font-size: 15.78px;
	}
	.subForm .form-group {
		margin-bottom: 22px;
	}
	.subForm form button, .subForm form input.form-control {
		height: 37px;
		font-size: 12.91px;
		&::placeholder {font-size: 12.91px;}
		&::-webkit-input-placeholder {font-size: 12.91px;}
		&::-moz-placeholder {font-size: 12.91px;}
		&:-ms-input-placeholder {font-size: 12.91px;}
		&:-moz-placeholder {font-size: 12.91px;}
	}
	.closeForm {
		right: 15px;
		top: -33px;
	}
	.closeForm:after, .closeForm:before {
		height: 26px;
		width: 2px;
		border-radius: 50px;
	}
	.subFormWrap {
		background: #282828;
		overflow: scroll;
		p {
			font-size: 18px;
			font-weight: 100;
			white-space: normal;
			line-height: 1.7;
			margin-bottom: 24px;
		}
		form {
			width: 81%;
		}
	}
	.subFormWrap h2 {
		padding: 0 75px;
		margin-top: 0;
		margin-bottom: 13px;
		line-height: 1.5;
		white-space: normal;
	}
	.subForm {
		width: 95%;
		margin-top: 0;
	}
	.programs .col-xs-12 {
		padding: 0;
	}
	.swiperNumber__img.mask1 {
		top: -12px;
   		 left: 26px;
	}
	.header__menu.mobile li a {
		font-size: 18px;
	}
	.header {
		padding: 23px 0 14px;
		.header__logo a {
			width: 100px;
		}
	}
	.video {
		height: 220px;
	}
	.hamburger {
		width: 26px;
		height: 19px;
		margin: 7px 10px;
	}
	.mapWrap {
		height: initial;
		#fullMap {
	    	height: 568px;
			position: static;
		}
		.mapInfo {
		    width: 100%;
		    box-shadow: none;
		    padding: 0;
	        margin-top: 14%;
			position: static;
			text-align: center;
		    margin-bottom: 16%;
			p {
				font-size: 18px;
			    line-height: 1.4;
			    margin-bottom: 14px;
			}
		}
	}
	.card__imgWrap-photo+.card__info {
		height: initial;
	}
	.subMenu {
	    padding: 34px 0 10px;
		li {
		    margin: 0 16px;
		    a {
				font-size: 11px;
			}
			&.arrow-left {
				right: 41px;
			}
			&.arrow-right {
				left: -41px;
			}
		}
		&-trener {
			li {
				display: none;
				&.arrow-left, &.arrow-right, &.next, &.prev, &.active {				
					display: block;
				}
			}
		}
	}
	.content {
		padding: 5px 0;
	}
	.content ul li {
		text-indent: 1.3em;
		br {
			display: none;
		}
	}
	.content ul li:before {
		left: 0;
		top: 10px;
		width: 5px;
		height: 5px;
	}
	.subMenu li.arrow-left:after, .subMenu li.arrow-left:before {
		height: 10px;
	}
	.subMenu li.arrow-left:before {
		top: 1px;
	}
	.content .col-xs-12 h2:first-child {
		margin-bottom: 29px;
	}
	.subMenu li.arrow-right:after, .subMenu li.arrow-right:before {
		height: 10px;
	}
	.subMenu li.arrow-right:before {
		top: 1px;
	}
	.h1, h1 {font-size: 34px;}
	.heroBanner {
	    height: 480px;
		h1 {
			margin-bottom: 10px;
		}
	}
	.mbanner {
		&__left {
			height: 100vh;
		    background-size: cover;
		    .mbannerItem__info {height: 100%!important;}
		    .mbannerItem__title {
		    	font-size: 30px;
			    line-height: 41px;
		        padding: 0 80px;
		    	span {font-size: 15px;}
		    }
		    .mbannerItem__date {
				font-size: 25px;
				margin-bottom: 8px;
			}
		}
		&__right {height: auto;}
		&__bottom {
			height: auto;
			display: block;
			&-left {
				height: 160px;
				width: 100%;
				.mbannerItem__title {font-size: 30px;}
			}
			&-right {
				height: 160px;
				width: 100%;
				.mbannerItem__title {
					font-size: 24px;
					margin-bottom: 9px;
				}
			}
			.mbannerItem__date {
				font-size: 15px;
				margin-bottom: 9px;
				font-weight: 700;
			}
		}
		&__top {
			height: 160px;
		    background-position: 8% 21%;
		    background-size: 165%;
		    .mbannerItem__info {
			    flex-wrap: nowrap;
		        padding-top: 4px;
			}
			.mbannerItem__date {
				font-size: 20px;
				width: 100%;
			    margin: 0 0 -10px;
			}
			.mbannerItem__title {
				font-size: 30px;
			    line-height: 43px;
		        padding: 0 40px;
			    margin: 0;
				span {
					font-size: 15px;
				    line-height: 1;
				}
			}
		}		
	}
	.features .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
		bottom: -6px;
	}
	.centerText {
	    padding: 25px 0 22px;
	    &__title {
			font-size: 30px;
	        line-height: 36px;
	        margin-bottom: 21px;
		}
		p {
			font-size: 20px;
			padding: 0 76px;
		}
	}
	.hide320 {
		display: none!important;
	}
	.features {
	    margin-top: -67px;
        padding: 0 0 43px;
        .swiper-container {
        	padding-bottom: 15px;
        }
	}
	.content {
		h2 {
			margin-bottom: 29px;
			margin-top: 43px;
		}
		ol li, p, ul li {
			font-size: 18px;
			line-height: 1.4;
		}
		ul li, ul li {
			margin-bottom: 7px;
		}	
		img {
		    margin-top: 30px;
	    	margin-bottom: 45px;
		}
	}
	.content ol li {
		text-indent: 0.5em;
		br {
			display: none;
		}
	}
	.share {
	    margin: 40px 0;
	}
	.swiperNumber {
		&__number {
		    height: 190px;
		    position: absolute;
		    top: 0;
		    #mask1 path {transform: scale(0.13) translate(122%, 87%);}
		    #mask2 path {transform: scale(0.08) translate(36%, 120%);}
		    #mask3 path {transform: scale(0.16) translate(0%, 48%);}
		    #mask4 path {transform: scale(0.17) translate(-20%, 52%);}
		}
		&__title {
			width: 56%;
		    float: right;
		    align-self: flex-end;
	        padding-right: 92px;
		}
		&__info {
			width: 100%;
		    display: flex;
		    flex-wrap: wrap;
		    flex-direction: column;
		    padding-right: 0;
		}
		&__text {
			font-size: 20px;
			font-weight: 100;
	    	line-height: 30px;
		}
	}
	.swiper-pagination-bullet {
		width: 8px;
		height: 8px;
	}
	.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	    bottom: -12px;
	}
	.h2, h2 {
		font-size: 28px;
        line-height: 1.1;
	}
	.doing {
		padding: 0;
		h2 {margin-bottom: 25px;}
		.swiper-pagination-doing {
			display: block;
			bottom: 0;
		}
		.swiper-wrapper {
			flex-wrap: nowrap;
			justify-content: normal;
		}
	}
	.content .doingItem {
		margin-bottom: 0;
	}
	.doingItem {
		margin-bottom: 0;
		&__icon {
		    max-height: 73px;
	        margin: 0 auto 29px;
		}
		&__title {
			font-size: 20px!important;
			margin-bottom: 17px;
		}
		&__text {
			font-size: 20px!important;
			font-weight: 100;
			line-height: 32px;
		}
	}
	.programs {
		margin-top: 15px;
    	padding-bottom: 41px;
		h2 {
	    	margin-bottom: 32px;
		}		
	    .swiper-pagination {bottom: -26px;}
	}
	.card:focus .card__img, .card:hover .card__img {
		transform: scale(1);
	}
	.card {
		&__imgWrap {
			height: 160px;
		}
		&__date {
			font-size: 18px;
			margin-bottom: 12px;
		}
		&__title {
			font-size: 20px;
			span {font-size: 18px;}
		}
		&__info {padding: 19px 10px 7px 10px;}
	}
	.cardsWrap {
		padding: 40px 0 30px;
	    h2 {
		    margin-bottom: 30px;
		}
	}
	.banner {
	    padding: 27px 0 46px;
	    p {
			font-size: 20px;
			line-height: 32px;
		    margin-bottom: 14px;
		}
		.btn {
			font-size: 20px;
			padding: 11px 48px;
		}
	}
	.reviews {padding: 35px 0 18px;}
	.swiperReviews {
		&__text {
			font-size: 20px;
			font-weight: 100;
		    line-height: 32px;
		}	
		&__photo {
			width: 65px;
			height: 65px;
		    margin: 27px auto 21px;
		}
		&__name {
		    letter-spacing: 1px;
	        margin-bottom: 4px;
		}
		&__job {
			font-size: 14px;
			font-weight: 100;
		}
		.swiper-slide {padding-top: 41px;}
	}
	.clients {
        padding: 20px 0 25px;
	    .swiper-pagination-clients {display: block;}
	}
	.news {
	    padding: 24px 0 47px;
	}
	.news__wrap {
	    flex-wrap: wrap;
        padding-bottom: 5px;
	}
	.news .title {
	    margin-bottom: 13px;
	}
	.card-news {
		margin-bottom: 19px!important;
		.card__imgWrap {
			height: 160px;
		}
		.card__title {
			font-size: 20px;
		    line-height: 26px;
		    margin-bottom: 14px
		}
		.card__date {
			font-size: 14px;
		}
		.card__info {
	        padding: 24px 10px 12px 10px;
            height: auto;
		}
	}
	.features:before {
		bottom: 30px;
	}
	.clients .swiper-pagination-clients {
		display: none;
	}
	.footer {
	    padding: 41px 0 48px;
	    &__logoWrap {
			width: 168px;
			margin-bottom: 78px;
		}
		.socialBlock {
			top: 114px;
			right: initial;
			left: 0;
			text-align: left;
			img {
				width: 30px;
			}
		}
		&__addr {
			line-height: 31px;
			font-size: 16px;
			margin-top: 20px;
			span {
				position: static;
				font-size: 12px;
			}
			a {
				font-size: 16px;
			}
		}
	}
	.subMenu+.cardsWrap {
		padding: 25px 0 31px;
		.card {
			padding: 0 10px;
		}
	}
	.cardsWrap-3 .card {
		margin-bottom: 20px;
	}
	.card__name {
		line-height: 1.3;
	}
	.vacancies .card__imgWrap-photo+.card__info {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.vacancies p:last-child {
		text-align: center;
	}
	.vacancies h2:last-child {
		margin-top: 28px;
	}
	.trener.heroBanner {
		background-size: 437%;
    	background-position: 52% 42%;
	}
	.form {
		padding: 28px 11px 42px;
		.checkbox {
			margin-top: 26px;
		}
		.checkbox label {
			font-size: 15px;
		}
	}
	.heroBanner.active .heroBanner__subtitle br, .heroBanner.active h1 br {
		display: none;
	}
	.form form .checkbox label {
		padding-left: 28px;
		text-decoration: underline;
		&:after {
			display: none;
		}
	}
	.form h2 {
		padding: 0 32px;
		margin-bottom: 33px;
	}
	input[type=file] {
		width: 50px;
		height: 50px!important;
	}
	input[type=file]+.upload {
		width: 50px;
		height: 50px;	
	}
	.form form p {
		line-height: 1.4;
	}
	.form form .btn {
		height: 60px;
	}
	.heroBanner-404 {
		.heroBanner__subtitle {
			padding: 0 38px;
			br {
				display: block!important;
			}
		}
	}
	
}

// for 360
@media (max-width: 413px) {	
	.centerText p {
		padding: 0;
	}
	.swiperNumber__title {
		padding-right: 38px;
	}
	.swiperNumber__number #mask1 path {
		transform: scale(0.13) translate(76%, 87%);
	}
	.swiperNumber__number #mask2 path {
		transform: scale(0.07) translate(0%, 151%);
	}	
	.swiperNumber__number #mask3 path {
	    transform: scale(0.16) translate(-25%, 48%);
	}
	.swiperNumber__number #mask4 path {
	    transform: scale(0.13) translate(-20%, 92%);
	}
	.doingItem__text br {
		display: none;
	}
	.programs {
		margin-bottom: 32px;
	}
	.banner {
		background-size: cover;
	}
	.doingItem {
		padding: 0;
	}
}

// for 320
@media (max-width: 359px) {
	.swiperNumber__img.mask1 {
		top: 0;
		left: 0;
	}
}